$colors: (
    primary: #0ca54d,
    primary-dark: darken(#0ca54d, 15%),
    accent: #14b7d4,
    secondary: #66d8ac,
    tertiary: #bbf18f,
    negative: #ee744e,
    neutral: #d0dadb,
    neutral-lightest: lighten(#d0dadb, 30%),
    darkest: #021a0c
);

@function color($color-name) {
    @return map-get($colors, $color-name)
};

body {
    background-color: color(neutral);

    color: color(darkest);

    line-height: 1.5;

    nav {
        background-color: color(primary);
    }

    .blue-btn {
        background-color: color(accent);
        color: white;
    }

    #login-card {
        margin: 7rem auto 4rem auto;
        box-shadow: 0 10px 30px rgba(2, 26, 12, 0.1);

    #login-head {
        margin: 1rem auto 2rem auto;
        text-align: center;

        h1 {
            color: color(primary);
            font-size: 4rem;
            margin: 0;
            line-height: .75;
            font-weight: bold;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
        }
        h2 {
            color: color(secondary);
            font-size: 2.1rem;
            line-height: .85;
        }
    }
    #my-link-btn {
        color: color(accent);
    }
    }

    #dash-card {
        margin: 3rem auto 4rem auto;
        text-align: center;
        box-shadow: 0 10px 30px rgba(2, 26, 12, 0.1);

        #profile-info-div {
            h1 {
                color: color(primary);
                font-size: 2rem;
                font-weight: bold;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                line-height: .75;
                margin-bottom: 1.5rem;
            }
            h2 {
                color: color(secondary);
                font-size: 1.5rem;
                line-height: .8;
            }
        }

        #profile-project-div {
            h1 {
                color: color(primary);
                font-size: 2rem;
                font-weight: bold;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                margin-bottom: 1.5rem;
            }

            #project-box {
                background-color: color(neutral);
                border-radius: 5px;
            }
        }
    }

    #new-idea-div {
        margin: 3rem auto 1rem auto;
        box-shadow: 0 10px 30px rgba(2, 26, 12, 0.1);
        #subtext-blue {
            color: color(accent);
        }
    }

    #ideas-div {
        margin: 0 auto 4rem auto;
        box-shadow: 0 10px 30px rgba(2, 26, 12, 0.1);
    }

    #projects-div {
        margin: 3rem auto 4rem auto;
        box-shadow: 0 10px 30px rgba(2, 26, 12, 0.1);
    }
}
