$colors: (
    primary: #0ca54d,
    primary-dark: darken(#0ca54d, 15%),
    accent: #14b7d4,
    accent-dark: darken(#14b7d4, 10%),
    secondary: #66d8ac,
    tertiary: #bbf18f,
    negative: #ee744e,
    neutral: #e6eae9,
    neutral-dark: darken(#e6eae9, 20%),
    neutral-lightest: lighten(#e6eae9, 7%),
    darkest: #021a0c
);

@function color($color-name) {
    @return map-get($colors, $color-name)
};

$mobile: 800px;
$phone: 480px;

@mixin mobile {
    @media (max-width: #{$mobile}) {
        @content;
    }
}

@mixin phone {
    @media (max-width: #{$phone}) {
        @content;
    }
}

body {
    background-color: color(neutral);

    color: color(darkest);

    line-height: 1.5;

    nav {
        background-color: color(primary);
    }

    .blue-btn {
        background-color: color(accent);
        color: white;
    }

    .blue-btn:hover {
        background-color: color(accent-dark);
        transition: background-color .15s ease-in-out;
    }

    .outline-blue-btn {
        background-color: white;
        border-style: solid;
        border-width: 3px;
        border-color: color(accent);
        color: color(accent);
    }

    .outline-blue-btn:hover {
        background-color: color(accent);
        color: white;
        transition: background-color .15s ease-in-out, color .15s ease-in-out, ;
    }

    .field-head {
        font-weight: bold;
        font-size: 1.1rem;
        margin: .5rem;
    }

    .my-list-group {
        background-color: color(neutral);
        padding-bottom: .5rem;
    }

    .my-list-item {
        margin: .5rem;
        margin-bottom: 0;
        border-width: 0px;
        border-radius: .25rem !important;
    }

    // .edit-modal:hover {
    //   position: relative;
    //   z-index: auto;
    // }

    .bottom-art {
        width: 100%;
        position: fixed;
        bottom: 0;
        right: 0;
        z-index: -1;
    }

    #login-logo {
        width: 3.5rem;
        position: fixed;
        top: 1rem;
        left: 2rem;
        z-index: -2;

        @include mobile {
            position: fixed;
            top: 1rem;
            left: 43%;
        }
    }

    #login-card {
        margin: 7rem auto 4rem auto;
        box-shadow: 0 10px 30px rgba(2, 26, 12, 0.1);
        border-radius: .25rem;

    #login-head {
        margin: 1rem auto 2rem auto;
        text-align: center;

        h1 {
            color: color(primary);
            font-size: 4rem;
            margin: 0;
            line-height: .75;
            font-weight: bold;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
        }
        h2 {
            color: color(secondary);
            font-size: 2.1rem;
            line-height: .85;
        }
    }
    #my-link-btn {
        color: color(accent);
    }
    }

    #dash-card {
        margin: 3rem auto 4rem auto;
        text-align: center;
        box-shadow: 0 10px 30px rgba(2, 26, 12, 0.1);
        border-radius: .25rem;

        #profile-info-div {
            position: relative;

            h1 {
                color: color(primary);
                font-size: 1.75rem;
                font-weight: 500;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                line-height: .8;
                text-align: center;
                background-color: white;
                width: 15rem;
                position: absolute;
                bottom: 6rem;
                padding: .3rem 0;
            }
            h2 {
                color: color(darkest);
                font-size: 1.5rem;
                line-height: .65;
            }
            h3 {
                font-size: 1.2rem;
                margin: 2rem;
                color: color(secondary);
            }

            // .my-position {
            //     font-weight: 450;
            //     color: color(secondary);
            //     width: 15rem;
            //     position: absolute;
            //     bottom: 5rem;
            //     background-color: white;
            // }
            .user-name-box {
                background-color: color(tertiary);
                border-radius: 50%;
                width: 15rem;
                height: 15rem;
                margin: 1rem auto;
            }
            .profile-logo {
                height: 15rem;
            }
            }
        #profile-project-div {
            padding: 1rem;
            padding-top: 0;

            h1 {
                color: color(darkest);
                font-size: 2rem;
                font-weight: bold;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                margin: 1rem;
                margin-top: 0;
            }

            #project-box {
                background-color: color(neutral);
                border-radius: 5px;

                    h2 {
                        font-weight: bold;
                        font-size: 2rem;
                        text-align: center;
                        margin-bottom: 1rem;
                        color: color(primary);
                    }

                    a, a:visited {
                        text-decoration: none;
                        color: color(tertiary);
                    }

                    a:hover {
                        color: color(primary);
                        transition: color .15s ease-in-out;
                    }
            }
        }
    }

    #new-idea-div {
        margin: 3rem auto 1rem auto;
        box-shadow: 0 10px 30px rgba(2, 26, 12, 0.1);
        border-radius: .25rem;
        #subtext-blue {
            color: color(accent);
            display: inline;
            margin-left: .5rem;
        }
    }

    #ideas-div {
        margin: 0 auto 4rem auto;
        box-shadow: 0 10px 30px rgba(2, 26, 12, 0.1);
        border-radius: .25rem;

        .vote-block {
            float: right;

            .vote-btn {
                color: color(secondary);
                font-size: 2.5rem;
                margin: .2rem;
                display: inline;
            }

            .vote-btn:hover {
                color: color(tertiary);
                transition: color .15s ease-in-out;
            }

            .vote-count {
                display: inline;
            }
        }
    }

    #projects-div {
        margin: 3rem auto 4rem auto;
        box-shadow: 0 10px 30px rgba(2, 26, 12, 0.1);
        border-radius: 15px;

        h1 {
            font-weight: bold;
            font-size: 2rem;
            text-align: center;
            margin-bottom: 1rem;
            color: color(primary);
        }

        a, a:visited {
            text-decoration: none;
            color: color(darkest);
        }

        a:hover {
            color: color(primary);
            transition: color .15s ease-in-out;
        }

        #live-project-box {
            margin-top: 3rem;
        }
    }

    #project-detail-div {
        margin: 3rem auto 4rem auto;
        box-shadow: 0 10px 30px rgba(2, 26, 12, 0.1);
        border-radius: .25rem;

        h1 {
            color: color(primary);
            font-size: 2rem;
            font-weight: bold;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            line-height: .75;
            margin: 1.5rem auto;
            text-align: center;
        }
        h3 {
            color: color(secondary);
            font-size: 1rem;
        }
        h2 {
            color: color(darkest);
            font-size: 1.5rem;
            text-align: center;
        }
        h4 {
            color: color(tertiary);
            font-size: 1rem;
        }
        h5 {
            color: color(primary);
            font-size: 1.75rem;
        }
        h6 {
            color: color(secondary);
        }

        .detail-text {
            margin-bottom: 2rem;
        }

        .none-listed {
            color: color(neutral-dark);
            font-size: 1rem;
            text-align: center;
            margin: .5rem;
        }

        .member-card {
            margin: .5rem auto;
            text-align: center;
            box-shadow: 0 5px 8px rgba(2, 26, 12, 0.1);
        }

        .member-list-group {
            padding: .25rem .75rem;
            margin: 0 auto 2rem auto;
            width: 95%;
        }

        .top-space {
            margin-top: .5rem;
        }

        .no-border {
            border-style: none;
            padding-top: none;
        }

        .role-input {
            margin-bottom: .5rem;
        }

        .detail-list-section {
            margin-bottom: 2rem;

            .add-project-card {
                width: 95%;
                border-style: solid;
                border-width: 2px;
                border-color: color(neutral);
                border-radius: .25rem;
                padding: 0 1rem;
                margin: auto;

                .card-item-submit {
                    position: absolute;
                    right: 3.5rem;
                    top: 3rem;
                }

                .field-head {
                    margin-bottom: 1rem;
                    margin-top: 1rem;
                    width: 60%;
                }
                }

                .project-pg-list {
                    margin: 1rem;

                    .listed-details {
                        text-align: center;
                        margin-bottom: .2rem;
                    }
                    .role-list-group {
                        background-color: color(neutral);
                        padding: .25rem 0;
                        margin: 0 auto 2rem auto;
                    }
                    .role-footer {
                        background-color: color(neutral-lightest);
                    }
            }
        }
    }

    #incentives-div {
        margin: 3rem auto 4rem auto;
        box-shadow: 0 10px 30px rgba(2, 26, 12, 0.1);
        border-radius: 15px;

        h2 {
            text-align: center;
            margin-top: .5rem;
            font-weight: 700;
            line-height: 1.1;
        }

        h3 {
            color: color(primary);
            font-size: 1.5rem;
        }

        .incentive-title {
            width: 45%;
            margin: 0 auto;

            @include phone {
                width: 90%;
            }
        }

        .select-area {
            display: block;
            position: absolute;
            right: 1rem;
            bottom: .5rem;
        }

        .check-label {
            display: inline;
            margin-right: 2rem;
            color: color(accent);
        }

        .incentive-details {
            text-align: center;
            margin-top: 1rem;
        }

        .cost {
            position: absolute;
            left: 1rem;
            top: .25rem;
            color: color(secondary);
            font-weight: bold;
        }

        .main-content {
          position: relative;

          @include phone {
              position: relative;
              top: 0;
              padding-bottom: 1.25rem;
          }
      }

        .none-listed {
            color: color(neutral-dark);
            font-size: 1rem;
            text-align: center;
            margin: .5rem;
        }
    }
}
